
html {
	background-color: #76ddec;
  font-family: 'Wendy One', cursive;
}
body {
  margin: 0;
}

.navbar {
  column-width: auto;
  font-size: 30px;
  display: -webkit-flex;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  color: #e1e1e1;
  background-color: #00a0c6;
  border-bottom: solid 12px  #08343e;
  font-family: 'Bungee Inline', cursive;
  position: fixed;

}

.flex-item {
  flex: 1;
  height: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00a0c6;
  text-decoration: none;
}

.active, .flex-item:hover { 
  background-color: #08343e;
  color: #ffffff;
}
.flex-item:visited {
  color: #e1e1e1;
}

.intro {
  width: 90%;
  text-align: center;
  margin: 125px auto 25px;
  padding: 8px;
  background-color: #08343e;
  border: solid 12px #00a0c6;
  color: white;
}

div.screenshot-container {
  background-color: #08343e;
}
div.screenshot-container div.row {
  display: flex;
  align-items: center;
}
div.screenshot-container div.left,
div.screenshot-container div.right {
  flex: 1;
  text-align: justify;
}
div.screenshot-container div.left div.container {
  padding: .25in;
}

div.screenshot-container div.left img {
  width: calc(100% - 24px);
  border: solid 12px #00a0c6;
}
div.screenshot-container div.left p {
  width: 100%;
  vertical-align: top;
  color: white;
}

div.screenshot-container div.right {
  display: inline-block;
  width: 49%;

}
div.screenshot-container div.right div.container{
  padding: .25in;
}

div.screenshot-container div.right img {
  width: calc(100% - 24px);
  border: solid 12px #00a0c6;
}

div.screenshot-container div.right p {
  width: 100%;
  color: white;
}

div.bio-container .img-circle {
  border-radius: 50%
}

div.bio-container .bio-card-outer {
  width: 33%;
  display: inline-block;
}

div.bio-container .bio-card-inner {
  margin: 20px;
  padding: 8px;
  text-align: center;
  background-color: #08343e;
  border: solid 12px #00a0c6;
}

div.bio-container .bio-card-inner p {
  text-align: justify;
  color: white;
}
div.bio-container .bio-card-inner h2 {
  color: white;
}

div.bio-container .row {
  width: 90%;
  margin: 15px auto;
  display: block;
}

div.bio-container .column {
  margin: auto;
}

/* Settings page */
.settings {
  position: absolute;
  top: 100px;
  width: 300px;
  height: 100%;
  background-color: #e1e1e1;
}

.settings-item {
  width: 100%;
  height: 45px;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
}

.settings-form {
  position: absolute;
  left: 300px;
  top: 100px;
  height: 100%;
  width: calc((100% / 3) * 2 - 300px);
}
