
html {
	background-color: #76ddec;
}

div.left {
  display: inline-block;
  width: 49%;
}

div.left img {
  width: 100%;
}

div.left p {
  width: 100%;
}

div.right {
  display: inline-block;
  width: 49%;
}

div.right img {
  width: 100%;
}

div.right p {
  width: 100%;
}

/*
div.left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
}
div.left p {
  width: 100%;
}
div.right {
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
}
div.right img {
  width: 100%;
}
*/

.img-circle {
  border-radius: 50%
}

.bio-card {
  width: 29%;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.bio-card p {
  text-align: justify;
}

.row {
  width: 90%
  margin: 15px auto;
  display: block;
}

.column {
  margin: auto;
}
