
html {
	background-color: #76ddec;
}
body {
  margin: 0;
}

div.screenshot-container {
  background-color: #08343e;
}
div.screenshot-container div.row {
  display: flex;
}
div.screenshot-container div.left,
div.screenshot-container div.right {
  flex: 1;
}
div.screenshot-container div.left div.container {
  padding: .25in;
}

div.screenshot-container div.left img {
  width: 100%;
  border: solid 12px #00a0c6;
}
div.screenshot-container div.left p {
  width: 100%;
  vertical-align: top;
  color: white;
}

div.screenshot-container div.right {
  display: inline-block;
  width: 49%;
  
}
div.screenshot-container div.right div.container{
  padding: .25in;
}

div.screenshot-container div.right img {
  width: 100%;
   border: solid 12px #00a0c6;
}

div.screenshot-container div.right p {
  width: 100%;
  color: white;
}

/*
div.left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
}
div.left p {
  width: 100%;
}
div.right {
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
}
div.right img {
  width: 100%;
}
*/

div.bio-container .img-circle {
  border-radius: 50%
}

div.bio-container .bio-card-outer {
  width: 33%;
  display: inline-block;
}

div.bio-container .bio-card-inner {
  margin: 20px;
  padding: 8px;
  text-align: center;
  background-color: #08343e;
  /*border: <type> <width> <color>*/
  border: solid 12px #00a0c6;
}

div.bio-container .bio-card-inner p {
  text-align: justify;
  color: white;
}
div.bio-container .bio-card-inner h2 {
  color: white;
}

div.bio-container .row {
  width: 90%;
  margin: 15px auto;
  display: block;
}

div.bio-container .column {
  margin: auto;
}
